*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}
body {
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
@font-face {
  font-display: swap;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Graphik-Regular.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 500;
  src: url(fonts/Graphik-Medium.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Inter-Regular.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url(fonts/Inter-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: "CoinbaseIcons";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(fonts/CoinbaseIcons-1621468127406.woff2) format("woff2");
}
.cds-checkboxReset-c1azgei9 {
  margin: 0;
  padding: 0;
  min-width: 0;
  border-width: 0;
}
.cds-typographyResets-tjmople {
  margin: 0;
}
.cds-buttonResets-b1audht5 {
  border-style: none;
  padding: 0;
}
.cds-linkResets-le8l828 {
  -webkit-text-decoration: none;
  text-decoration: none;
}
.cds-inputRadioResets-i1pakn4f {
  margin: 0;
}
.cds-hidden-hrk5xqo {
  overflow: hidden;
}
.cds-scroll-soo9sx7 {
  overflow: scroll;
}
.cds-visible-v1613zz {
  overflow: visible;
}
.cds-1-_1auofwn {
  margin: calc(-1 * var(--spacing-1));
}
.cds-2-_16v6j4k {
  margin: calc(-1 * var(--spacing-2));
}
.cds-3-_g40mf4 {
  margin: calc(-1 * var(--spacing-3));
}
.cds-4-_1afn9nw {
  margin: calc(-1 * var(--spacing-4));
}
.cds-5-_f51gs3 {
  margin: calc(-1 * var(--spacing-5));
}
.cds-6-_18rmxx5 {
  margin: calc(-1 * var(--spacing-6));
}
.cds-7-_1fpzlu9 {
  margin: calc(-1 * var(--spacing-7));
}
.cds-8-_qgxmie {
  margin: calc(-1 * var(--spacing-8));
}
.cds-9-_1qufaq7 {
  margin: calc(-1 * var(--spacing-9));
}
.cds-10-_1qtghpg {
  margin: calc(-1 * var(--spacing-10));
}
.cds-0_5-_pfnes {
  margin: calc(-1 * var(--spacing-0\.5));
}
.cds-1-_1xz7him {
  margin-top: calc(-1 * var(--spacing-1));
}
.cds-2-_ckivjh {
  margin-top: calc(-1 * var(--spacing-2));
}
.cds-3-_10207j1 {
  margin-top: calc(-1 * var(--spacing-3));
}
.cds-4-_1imczr8 {
  margin-top: calc(-1 * var(--spacing-4));
}
.cds-5-_1ebmk2y {
  margin-top: calc(-1 * var(--spacing-5));
}
.cds-6-_1i9ds04 {
  margin-top: calc(-1 * var(--spacing-6));
}
.cds-7-_y7kuk3 {
  margin-top: calc(-1 * var(--spacing-7));
}
.cds-8-_1oawv7i {
  margin-top: calc(-1 * var(--spacing-8));
}
.cds-9-_1x6mf8d {
  margin-top: calc(-1 * var(--spacing-9));
}
.cds-10-_18a4d7z {
  margin-top: calc(-1 * var(--spacing-10));
}
.cds-0_5-_331fh2 {
  margin-top: calc(-1 * var(--spacing-0\.5));
}
.cds-1-_12zfs94 {
  margin-bottom: calc(-1 * var(--spacing-1));
}
.cds-2-_u04iu0 {
  margin-bottom: calc(-1 * var(--spacing-2));
}
.cds-3-_ncwkxj {
  margin-bottom: calc(-1 * var(--spacing-3));
}
.cds-4-_rkv2rd {
  margin-bottom: calc(-1 * var(--spacing-4));
}
.cds-5-_1wtmcsa {
  margin-bottom: calc(-1 * var(--spacing-5));
}
.cds-6-_dirbqw {
  margin-bottom: calc(-1 * var(--spacing-6));
}
.cds-7-_mnucyx {
  margin-bottom: calc(-1 * var(--spacing-7));
}
.cds-8-_srajfc {
  margin-bottom: calc(-1 * var(--spacing-8));
}
.cds-9-_1blhlto {
  margin-bottom: calc(-1 * var(--spacing-9));
}
.cds-10-_ym8anm {
  margin-bottom: calc(-1 * var(--spacing-10));
}
.cds-0_5-_1ummbs1 {
  margin-bottom: calc(-1 * var(--spacing-0\.5));
}
.cds-1-_1ihubyu {
  margin-left: calc(-1 * var(--spacing-1));
}
.cds-2-_17bjoy3 {
  margin-left: calc(-1 * var(--spacing-2));
}
.cds-3-_a1w1r3 {
  margin-left: calc(-1 * var(--spacing-3));
}
.cds-4-_14ddq9u {
  margin-left: calc(-1 * var(--spacing-4));
}
.cds-5-_nkpd1k {
  margin-left: calc(-1 * var(--spacing-5));
}
.cds-6-_1w7a7vu {
  margin-left: calc(-1 * var(--spacing-6));
}
.cds-7-_1wu63q3 {
  margin-left: calc(-1 * var(--spacing-7));
}
.cds-8-_1ch8rg4 {
  margin-left: calc(-1 * var(--spacing-8));
}
.cds-9-_hfh9py {
  margin-left: calc(-1 * var(--spacing-9));
}
.cds-10-_sj6gsc {
  margin-left: calc(-1 * var(--spacing-10));
}
.cds-0_5-_wslpni {
  margin-left: calc(-1 * var(--spacing-0\.5));
}
.cds-1-_np821l {
  margin-right: calc(-1 * var(--spacing-1));
}
.cds-2-_1xvjstk {
  margin-right: calc(-1 * var(--spacing-2));
}
.cds-3-_7qy7z8 {
  margin-right: calc(-1 * var(--spacing-3));
}
.cds-4-_1lwwo6w {
  margin-right: calc(-1 * var(--spacing-4));
}
.cds-5-_dhu0x7 {
  margin-right: calc(-1 * var(--spacing-5));
}
.cds-6-_1kdjsbu {
  margin-right: calc(-1 * var(--spacing-6));
}
.cds-7-_qj0gmu {
  margin-right: calc(-1 * var(--spacing-7));
}
.cds-8-_1deojhl {
  margin-right: calc(-1 * var(--spacing-8));
}
.cds-9-_yd2twi {
  margin-right: calc(-1 * var(--spacing-9));
}
.cds-10-_1q5wp84 {
  margin-right: calc(-1 * var(--spacing-10));
}
.cds-0_5-_10p4joz {
  margin-right: calc(-1 * var(--spacing-0\.5));
}
.cds-1-_1tvi0gj {
  padding: var(--spacing-1);
}
.cds-2-_bsbcj7 {
  padding: var(--spacing-2);
}
.cds-3-_rjxliz {
  padding: var(--spacing-3);
}
.cds-4-_pqy05c {
  padding: var(--spacing-4);
}
.cds-5-_10w91uv {
  padding: var(--spacing-5);
}
.cds-6-_123tt4n {
  padding: var(--spacing-6);
}
.cds-7-_1j2rs0c {
  padding: var(--spacing-7);
}
.cds-8-_1b6fnan {
  padding: var(--spacing-8);
}
.cds-9-_qdyj6n {
  padding: var(--spacing-9);
}
.cds-10-_1hutx20 {
  padding: var(--spacing-10);
}
.cds-0_5-_18xsr0b {
  padding: var(--spacing-0\.5);
}
.cds-1-_plhmtt {
  padding-top: var(--spacing-1);
}
.cds-2-_176ib6b {
  padding-top: var(--spacing-2);
}
.cds-3-_18x24ic {
  padding-top: var(--spacing-3);
}
.cds-4-_chq8ms {
  padding-top: var(--spacing-4);
}
.cds-5-_wniu4l {
  padding-top: var(--spacing-5);
}
.cds-6-_1a45dyh {
  padding-top: var(--spacing-6);
}
.cds-7-_moz1ko {
  padding-top: var(--spacing-7);
}
.cds-8-_f466ca {
  padding-top: var(--spacing-8);
}
.cds-9-_1x6e1vq {
  padding-top: var(--spacing-9);
}
.cds-10-_r8nwns {
  padding-top: var(--spacing-10);
}
.cds-0_5-_pbhspb {
  padding-top: var(--spacing-0\.5);
}
.cds-1-_tide8r {
  padding-bottom: var(--spacing-1);
}
.cds-2-_n1dzqr {
  padding-bottom: var(--spacing-2);
}
.cds-3-_aor007 {
  padding-bottom: var(--spacing-3);
}
.cds-4-_13iz7eo {
  padding-bottom: var(--spacing-4);
}
.cds-5-_15ugcm {
  padding-bottom: var(--spacing-5);
}
.cds-6-_1075bgx {
  padding-bottom: var(--spacing-6);
}
.cds-7-_k9syp4 {
  padding-bottom: var(--spacing-7);
}
.cds-8-_wcz1h1 {
  padding-bottom: var(--spacing-8);
}
.cds-9-_j7np16 {
  padding-bottom: var(--spacing-9);
}
.cds-10-_7n97wm {
  padding-bottom: var(--spacing-10);
}
.cds-0_5-_fnmfyo {
  padding-bottom: var(--spacing-0\.5);
}
.cds-1-_18k662r {
  padding-left: var(--spacing-1);
}
.cds-2-_dsl3e5 {
  padding-left: var(--spacing-2);
}
.cds-3-_1s99az2 {
  padding-left: var(--spacing-3);
}
.cds-4-_scceyx {
  padding-left: var(--spacing-4);
}
.cds-5-_1rampmo {
  padding-left: var(--spacing-5);
}
.cds-6-_m48mnl {
  padding-left: var(--spacing-6);
}
.cds-7-_14guxyl {
  padding-left: var(--spacing-7);
}
.cds-8-_1vq2ef4 {
  padding-left: var(--spacing-8);
}
.cds-9-_1b5b65u {
  padding-left: var(--spacing-9);
}
.cds-10-_1x87kx {
  padding-left: var(--spacing-10);
}
.cds-0_5-_1irghim {
  padding-left: var(--spacing-0\.5);
}
.cds-1-_1l08w86 {
  padding-right: var(--spacing-1);
}
.cds-2-_1w4ous1 {
  padding-right: var(--spacing-2);
}
.cds-3-_1f9iorr {
  padding-right: var(--spacing-3);
}
.cds-4-_1276wbd {
  padding-right: var(--spacing-4);
}
.cds-5-_1t88ovp {
  padding-right: var(--spacing-5);
}
.cds-6-_1o49llf {
  padding-right: var(--spacing-6);
}
.cds-7-_1g4kbzw {
  padding-right: var(--spacing-7);
}
.cds-8-_r2sgio {
  padding-right: var(--spacing-8);
}
.cds-9-_1xxf3x0 {
  padding-right: var(--spacing-9);
}
.cds-10-_sciq9j {
  padding-right: var(--spacing-10);
}
.cds-0_5-_65b3u8 {
  padding-right: var(--spacing-0\.5);
}
.cds-top-tmtssnp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.cds-bottom-b1q0r99d {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.cds-left-l1jro0ab {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.cds-right-r19qjmi {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.cds-all-abmqojv {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cds-background-b1oovg0i {
  background-color: var(--background);
}
.cds-backgroundAlternate-bxtthyq {
  background-color: var(--background-alternate);
}
.cds-backgroundOverlay-b1hdtarx {
  background-color: var(--background-overlay);
}
.cds-primary-p1clp1xg {
  background-color: var(--primary);
}
.cds-primaryWash-p1oz1p3r {
  background-color: var(--primary-wash);
}
.cds-secondary-s13159hk {
  background-color: var(--secondary);
}
.cds-positive-psxb71e {
  background-color: var(--positive);
}
.cds-negative-nh7erxl {
  background-color: var(--negative);
}
.cds-bordered-b1lhdwsw {
  border: 1px solid var(--line);
}
.cds-borderedStart-bj41gs1 {
  border-left: 1px solid var(--line);
}
.cds-borderedEnd-b1lb8i2s {
  border-right: 1px solid var(--line);
}
.cds-borderedTop-b1s5jffx {
  border-top: 1px solid var(--line);
}
.cds-borderedBottom-b16e9sog {
  border-bottom: 1px solid var(--line);
}
.cds-compact-c12l84ie {
  border-radius: 4px;
}
.cds-standard-sy7al66 {
  border-radius: 8px;
}
.cds-badge-b11fh1zv {
  border-radius: 9px;
}
.cds-tooltip-t13pxsis {
  border-radius: 12px;
}
.cds-pill-p1eab7s5 {
  border-radius: 18px;
}
.cds-round-r11q6nq0 {
  border-radius: 100px;
}
.cds-flex-fytym9g {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.cds-flex-start-fseyzed {
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
.cds-flex-end-f8tey71 {
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}
.cds-center-ce9ogv9 {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.cds-stretch-s1ub4u9h {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.cds-space-between-s16ml6r8 {
  -webkit-align-content: space-between;
  -ms-flex-line-pack: space-between;
  align-content: space-between;
}
.cds-space-around-s1pjoclb {
  -webkit-align-content: space-around;
  -ms-flex-line-pack: space-around;
  align-content: space-around;
}
.cds-flex-start-f14uh3uz {
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
.cds-flex-end-fup5muy {
  -webkit-align-items: flex-end;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}
.cds-center-c5dc66o {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cds-stretch-senczph {
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.cds-baseline-b1o7ulyq {
  -webkit-align-items: baseline;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.cds-flex-start-f17389yy {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.cds-flex-end-f1dzjg8p {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.cds-center-c1skwedr {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.cds-stretch-stxctjn {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
.cds-auto-a3w0ty7 {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
.cds-baseline-bk6vx3t {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}
.cds-row-ros4dsk {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.cds-row-reverse-r1avywif {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cds-column-cygaqsr {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.cds-column-reverse-c1so2gad {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.cds-nowrap-n1quokcc {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cds-wrap-wxgukaz {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cds-wrap-reverse-w1hkp3ei {
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
.cds-flex-start-fiq8yhn {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.cds-flex-end-fc86uqj {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.cds-center-c1n2qf5t {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.cds-space-between-sjpl91k {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.cds-space-around-s191rtqw {
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
}
.cds-space-evenly-s1ayxso9 {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.cds-visuallyHidden-v1o4xanq {
  -webkit-clip: rect(0 0 0 0);
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.cds-iconStyles-i6w5wyz {
  font-family: "CoinbaseIcons";
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: block;
  -webkit-text-decoration: none;
  text-decoration: none;
}
.cds-iconStyles-i6w5wyz > * {
  -webkit-transition: fill 150ms ease-in-out;
  transition: fill 150ms ease-in-out;
}
.c1w44yon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-text-decoration: none;
  text-decoration: none;
}
.i9ubiky {
  width: 16px;
  height: 16px;
}
.tqemv7l {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  margin-left: 8px;
  color: rgb(var(--gray100));
}

.c1jqkazw {
  margin-top: 32px;
  background-color: var(--background);
  opacity: 0.8;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border-radius: 8px;
  padding: 16px;
}
.hlxk93 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: rgb(var(--gray60));
}
.l152v4ma {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  padding-left: 24px;
  counter-reset: getting-started-count;
}
.l152v4ma > li {
  font-size: 16px;
  line-height: 24px;
  color: rgb(var(--gray60));
  margin-top: 20px;
  counter-increment: getting-started-count;
}
.l152v4ma > li::before {
  content: counter(getting-started-count);
  position: absolute;
  left: 0;
  color: rgb(var(--gray60));
}
.l152v4ma > li > img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: sub;
}
.l152v4ma > li > a {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: rgb(var(--blue50));
}
@media (prefers-color-scheme: light) {
  .p1otow0u {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
}

.c1ffjbto {
  margin-top: 24px;
  background: rgb(var(--gray0));
  opacity: 0.8;
  text-align: center;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border-radius: 8px;
  padding: 16px;
}
.h96nfkr {
  font-size: 12px;
  line-height: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(var(--gray60));
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.l10tx1la {
  -webkit-text-decoration: none;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: rgb(var(--gray60));
}

.pojzr2n {
  margin: auto;
  padding-left: 32px;
  padding-right: 32px;
}
.cd225h3 {
  --width: 430px;
  --lmargin: calc((100vw / 3) - (var(--width) / 2));
  width: var(--width);
  margin-left: max(0px, var(--lmargin));
}
@media (max-width: 510px) {
  .cd225h3 {
    width: 100%;
  }
}
.l1c789q6 {
  width: 56px;
  height: 56px;
  margin-top: 60px;
}
.tdv9aoc {
  font-size: 28px;
  color: rgb(var(--gray100));
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 0;
}
.s1n9shf3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: rgb(var(--gray50));
  margin-top: 0;
}
.d1rklojb {
  font-size: 16px;
  line-height: 24px;
  color: rgb(var(--gray100));
  margin-top: 26px;
  margin-bottom: 48px;
}
.b98akjt {
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.cpw4tm5 {
  --lpos: calc((100vw / 3) - 430px);
  height: max(200vh, 175vw);
  width: max(200vh, 175vw);
  top: 10vh;
  left: max(calc(430px / 2), var(--lpos));
  border-radius: 50%;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  z-index: -1;
  display: block;
  position: absolute;
  background-color: rgb(var(--blue50));
}

.cds-xSmall-x6kw5x1 {
  --display1-font-size: 61px;
  --display1-line-height: 68px;
  --display1-letter-spacing: 0.005em;
  --display1-font-weight: 400;
  --display2-font-size: 31px;
  --display2-line-height: 40px;
  --display2-letter-spacing: 0.014em;
  --display2-font-weight: 400;
  --title1-font-size: 25px;
  --title1-line-height: 32px;
  --title1-letter-spacing: 0;
  --title1-font-weight: 500;
  --title2-font-size: 25px;
  --title2-line-height: 32px;
  --title2-letter-spacing: 0;
  --title2-font-weight: 400;
  --title3-font-size: 17px;
  --title3-line-height: 24px;
  --title3-letter-spacing: -0.026em;
  --title3-font-weight: 500;
  --headline-font-size: 14px;
  --headline-line-height: 20px;
  --headline-letter-spacing: -0.011em;
  --headline-font-weight: 600;
  --body-font-size: 14px;
  --body-line-height: 20px;
  --body-letter-spacing: -0.011em;
  --body-font-weight: 400;
  --label1-font-size: 11px;
  --label1-line-height: 12px;
  --label1-letter-spacing: 0.007em;
  --label1-text-transform: uppercase;
  --label1-font-weight: 600;
  --label2-font-size: 11px;
  --label2-line-height: 12px;
  --label2-letter-spacing: 0.007em;
  --label2-text-transform: uppercase;
  --label2-font-weight: 400;
  --caption-font-size: 10px;
  --caption-line-height: 12px;
  --caption-letter-spacing: 0.014em;
  --caption-text-transform: uppercase;
  --caption-font-weight: 600;
  --legal-font-size: 10px;
  --legal-line-height: 12px;
  --legal-letter-spacing: 0.014em;
  --legal-font-weight: 400;
  --spacing-0\.5: 4px;
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 20px;
  --spacing-5: 24px;
  --spacing-6: 28px;
  --spacing-7: 32px;
  --spacing-8: 36px;
  --spacing-9: 40px;
  --spacing-10: 44px;
  --checkbox-size: 16px;
  --radio-size: 16px;
  --switch-width: 42px;
  --switch-height: 24px;
  --switch-thumb-size: 22px;
}
.cds-small-splvwwo {
  --display1-font-size: 62px;
  --display1-line-height: 72px;
  --display1-letter-spacing: 0.005em;
  --display1-font-weight: 400;
  --display2-font-size: 32px;
  --display2-line-height: 40px;
  --display2-letter-spacing: 0.013em;
  --display2-font-weight: 400;
  --title1-font-size: 26px;
  --title1-line-height: 32px;
  --title1-letter-spacing: 0.003em;
  --title1-font-weight: 500;
  --title2-font-size: 26px;
  --title2-line-height: 32px;
  --title2-letter-spacing: 0.003em;
  --title2-font-weight: 400;
  --title3-font-size: 18px;
  --title3-line-height: 24px;
  --title3-letter-spacing: -0.025em;
  --title3-font-weight: 500;
  --headline-font-size: 14px;
  --headline-line-height: 20px;
  --headline-letter-spacing: -0.011em;
  --headline-font-weight: 600;
  --body-font-size: 14px;
  --body-line-height: 20px;
  --body-letter-spacing: -0.011em;
  --body-font-weight: 400;
  --label1-font-size: 12px;
  --label1-line-height: 16px;
  --label1-letter-spacing: 0;
  --label1-text-transform: uppercase;
  --label1-font-weight: 600;
  --label2-font-size: 12px;
  --label2-line-height: 16px;
  --label2-letter-spacing: 0;
  --label2-text-transform: uppercase;
  --label2-font-weight: 400;
  --caption-font-size: 11px;
  --caption-line-height: 12px;
  --caption-letter-spacing: 0.007em;
  --caption-text-transform: uppercase;
  --caption-font-weight: 600;
  --legal-font-size: 11px;
  --legal-line-height: 16px;
  --legal-letter-spacing: 0.007em;
  --legal-font-weight: 400;
  --spacing-0\.5: 4px;
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 20px;
  --spacing-5: 24px;
  --spacing-6: 28px;
  --spacing-7: 32px;
  --spacing-8: 36px;
  --spacing-9: 40px;
  --spacing-10: 44px;
  --checkbox-size: 16px;
  --radio-size: 16px;
  --switch-width: 42px;
  --switch-height: 24px;
  --switch-thumb-size: 22px;
}
.cds-medium-mq3983o {
  --display1-font-size: 63px;
  --display1-line-height: 72px;
  --display1-letter-spacing: 0.005em;
  --display1-font-weight: 400;
  --display2-font-size: 33px;
  --display2-line-height: 40px;
  --display2-letter-spacing: 0.013em;
  --display2-font-weight: 400;
  --title1-font-size: 27px;
  --title1-line-height: 36px;
  --title1-letter-spacing: 0.007em;
  --title1-font-weight: 500;
  --title2-font-size: 27px;
  --title2-line-height: 36px;
  --title2-letter-spacing: 0.007em;
  --title2-font-weight: 400;
  --title3-font-size: 19px;
  --title3-line-height: 24px;
  --title3-letter-spacing: -0.021em;
  --title3-font-weight: 500;
  --headline-font-size: 15px;
  --headline-line-height: 20px;
  --headline-letter-spacing: -0.016em;
  --headline-font-weight: 600;
  --body-font-size: 15px;
  --body-line-height: 20px;
  --body-letter-spacing: -0.016em;
  --body-font-weight: 400;
  --label1-font-size: 13px;
  --label1-line-height: 16px;
  --label1-letter-spacing: -0.006em;
  --label1-text-transform: uppercase;
  --label1-font-weight: 600;
  --label2-font-size: 13px;
  --label2-line-height: 16px;
  --label2-letter-spacing: -0.006em;
  --label2-text-transform: uppercase;
  --label2-font-weight: 400;
  --caption-font-size: 12px;
  --caption-line-height: 16px;
  --caption-letter-spacing: 0;
  --caption-text-transform: uppercase;
  --caption-font-weight: 600;
  --legal-font-size: 12px;
  --legal-line-height: 16px;
  --legal-letter-spacing: 0;
  --legal-font-weight: 400;
  --spacing-0\.5: 4px;
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 20px;
  --spacing-5: 24px;
  --spacing-6: 28px;
  --spacing-7: 32px;
  --spacing-8: 36px;
  --spacing-9: 40px;
  --spacing-10: 44px;
  --checkbox-size: 16px;
  --radio-size: 16px;
  --switch-width: 42px;
  --switch-height: 24px;
  --switch-thumb-size: 22px;
}
.cds-large-l12sl86x {
  --display1-font-size: 64px;
  --display1-line-height: 72px;
  --display1-letter-spacing: 0.004em;
  --display1-font-weight: 400;
  --display2-font-size: 34px;
  --display2-line-height: 44px;
  --display2-letter-spacing: 0.013em;
  --display2-font-weight: 400;
  --title1-font-size: 28px;
  --title1-line-height: 36px;
  --title1-letter-spacing: 0.01em;
  --title1-font-weight: 500;
  --title2-font-size: 28px;
  --title2-line-height: 36px;
  --title2-letter-spacing: 0.01em;
  --title2-font-weight: 400;
  --title3-font-size: 20px;
  --title3-line-height: 28px;
  --title3-letter-spacing: -0.018em;
  --title3-font-weight: 500;
  --headline-font-size: 16px;
  --headline-line-height: 24px;
  --headline-letter-spacing: -0.021em;
  --headline-font-weight: 600;
  --body-font-size: 16px;
  --body-line-height: 24px;
  --body-letter-spacing: -0.021em;
  --body-font-weight: 400;
  --label1-font-size: 14px;
  --label1-line-height: 16px;
  --label1-letter-spacing: -0.011em;
  --label1-font-weight: 600;
  --label2-font-size: 14px;
  --label2-line-height: 16px;
  --label2-letter-spacing: -0.011em;
  --label2-font-weight: 400;
  --caption-font-size: 13px;
  --caption-line-height: 16px;
  --caption-letter-spacing: -0.006em;
  --caption-text-transform: uppercase;
  --caption-font-weight: 600;
  --legal-font-size: 13px;
  --legal-line-height: 16px;
  --legal-letter-spacing: -0.006em;
  --legal-font-weight: 400;
  --spacing-0\.5: 4px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
  --spacing-9: 72px;
  --spacing-10: 80px;
  --checkbox-size: 20px;
  --radio-size: 20px;
  --switch-width: 52px;
  --switch-height: 32px;
  --switch-thumb-size: 30px;
}
.cds-xLarge-x1gmb6ru {
  --display1-font-size: 66px;
  --display1-line-height: 76px;
  --display1-letter-spacing: 0.004em;
  --display1-font-weight: 400;
  --display2-font-size: 36px;
  --display2-line-height: 44px;
  --display2-letter-spacing: 0.012em;
  --display2-font-weight: 400;
  --title1-font-size: 30px;
  --title1-line-height: 36px;
  --title1-letter-spacing: 0.014em;
  --title1-font-weight: 500;
  --title2-font-size: 30px;
  --title2-line-height: 36px;
  --title2-letter-spacing: 0.014em;
  --title2-font-weight: 400;
  --title3-font-size: 22px;
  --title3-line-height: 28px;
  --title3-letter-spacing: -0.011em;
  --title3-font-weight: 500;
  --headline-font-size: 18px;
  --headline-line-height: 24px;
  --headline-letter-spacing: -0.025em;
  --headline-font-weight: 600;
  --body-font-size: 18px;
  --body-line-height: 24px;
  --body-letter-spacing: -0.025em;
  --body-font-weight: 400;
  --label1-font-size: 16px;
  --label1-line-height: 20px;
  --label1-letter-spacing: -0.021em;
  --label1-font-weight: 600;
  --label2-font-size: 16px;
  --label2-line-height: 20px;
  --label2-letter-spacing: -0.021em;
  --label2-font-weight: 400;
  --caption-font-size: 15px;
  --caption-line-height: 16px;
  --caption-letter-spacing: -0.016em;
  --caption-font-weight: 600;
  --legal-font-size: 15px;
  --legal-line-height: 20px;
  --legal-letter-spacing: -0.016em;
  --legal-font-weight: 400;
  --spacing-0\.5: 4px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
  --spacing-9: 72px;
  --spacing-10: 80px;
  --checkbox-size: 20px;
  --radio-size: 20px;
  --switch-width: 52px;
  --switch-height: 32px;
  --switch-thumb-size: 30px;
}
.cds-xxLarge-xt26gyq {
  --display1-font-size: 68px;
  --display1-line-height: 76px;
  --display1-letter-spacing: 0.003em;
  --display1-font-weight: 400;
  --display2-font-size: 38px;
  --display2-line-height: 48px;
  --display2-letter-spacing: 0.012em;
  --display2-font-weight: 400;
  --title1-font-size: 32px;
  --title1-line-height: 40px;
  --title1-letter-spacing: 0.013em;
  --title1-font-weight: 500;
  --title2-font-size: 32px;
  --title2-line-height: 40px;
  --title2-letter-spacing: 0.013em;
  --title2-font-weight: 400;
  --title3-font-size: 24px;
  --title3-line-height: 32px;
  --title3-letter-spacing: -0.004em;
  --title3-font-weight: 500;
  --headline-font-size: 20px;
  --headline-line-height: 28px;
  --headline-letter-spacing: -0.018em;
  --headline-font-weight: 600;
  --body-font-size: 20px;
  --body-line-height: 28px;
  --body-letter-spacing: -0.018em;
  --body-font-weight: 400;
  --label1-font-size: 18px;
  --label1-line-height: 20px;
  --label1-letter-spacing: -0.025em;
  --label1-font-weight: 600;
  --label2-font-size: 18px;
  --label2-line-height: 20px;
  --label2-letter-spacing: -0.025em;
  --label2-font-weight: 400;
  --caption-font-size: 17px;
  --caption-line-height: 20px;
  --caption-letter-spacing: -0.026em;
  --caption-font-weight: 600;
  --legal-font-size: 17px;
  --legal-line-height: 20px;
  --legal-letter-spacing: -0.026em;
  --legal-font-weight: 400;
  --spacing-0\.5: 4px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
  --spacing-9: 72px;
  --spacing-10: 80px;
  --checkbox-size: 20px;
  --radio-size: 20px;
  --switch-width: 52px;
  --switch-height: 32px;
  --switch-thumb-size: 30px;
}
.cds-xxxLarge-x1ccf3hz {
  --display1-font-size: 70px;
  --display1-line-height: 80px;
  --display1-letter-spacing: 0.003em;
  --display1-font-weight: 400;
  --display2-font-size: 40px;
  --display2-line-height: 48px;
  --display2-letter-spacing: 0.011em;
  --display2-font-weight: 400;
  --title1-font-size: 34px;
  --title1-line-height: 40px;
  --title1-letter-spacing: 0.013em;
  --title1-font-weight: 500;
  --title2-font-size: 34px;
  --title2-line-height: 40px;
  --title2-letter-spacing: 0.013em;
  --title2-font-weight: 400;
  --title3-font-size: 26px;
  --title3-line-height: 32px;
  --title3-letter-spacing: 0.003em;
  --title3-font-weight: 500;
  --headline-font-size: 22px;
  --headline-line-height: 28px;
  --headline-letter-spacing: -0.011em;
  --headline-font-weight: 600;
  --body-font-size: 22px;
  --body-line-height: 28px;
  --body-letter-spacing: -0.011em;
  --body-font-weight: 400;
  --label1-font-size: 20px;
  --label1-line-height: 24px;
  --label1-letter-spacing: -0.018em;
  --label1-font-weight: 600;
  --label2-font-size: 20px;
  --label2-line-height: 24px;
  --label2-letter-spacing: -0.018em;
  --label2-font-weight: 400;
  --caption-font-size: 19px;
  --caption-line-height: 20px;
  --caption-letter-spacing: -0.021em;
  --caption-font-weight: 600;
  --legal-font-size: 19px;
  --legal-line-height: 24px;
  --legal-letter-spacing: -0.021em;
  --legal-font-weight: 400;
  --spacing-0\.5: 4px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
  --spacing-9: 72px;
  --spacing-10: 80px;
  --checkbox-size: 20px;
  --radio-size: 20px;
  --switch-width: 52px;
  --switch-height: 32px;
  --switch-thumb-size: 30px;
}
.cds-dark-dm4zkqb {
  --blue0: 0, 16, 51;
  --blue5: 1, 29, 91;
  --blue10: 1, 42, 130;
  --blue15: 3, 51, 154;
  --blue20: 5, 59, 177;
  --blue30: 10, 72, 206;
  --blue40: 19, 84, 225;
  --blue50: 33, 98, 238;
  --blue60: 55, 115, 245;
  --blue70: 87, 139, 250;
  --blue80: 132, 170, 253;
  --blue90: 185, 207, 255;
  --blue100: 245, 248, 255;
  --green0: 0, 51, 30;
  --green5: 0, 61, 36;
  --green10: 1, 71, 42;
  --green15: 2, 82, 48;
  --green20: 2, 92, 55;
  --green30: 6, 112, 68;
  --green40: 11, 133, 82;
  --green50: 21, 153, 98;
  --green60: 39, 173, 117;
  --green70: 68, 194, 141;
  --green80: 111, 214, 171;
  --green90: 171, 235, 208;
  --green100: 245, 255, 251;
  --orange0: 51, 13, 0;
  --orange5: 79, 20, 0;
  --orange10: 107, 28, 1;
  --orange15: 131, 36, 2;
  --orange20: 155, 44, 4;
  --orange30: 189, 59, 9;
  --orange40: 213, 76, 18;
  --orange50: 230, 96, 32;
  --orange60: 240, 120, 54;
  --orange70: 248, 150, 86;
  --orange80: 252, 185, 131;
  --orange90: 254, 219, 185;
  --orange100: 255, 250, 245;
  --yellow0: 26, 8, 0;
  --yellow5: 43, 16, 0;
  --yellow10: 60, 26, 0;
  --yellow15: 78, 37, 0;
  --yellow20: 96, 50, 0;
  --yellow30: 131, 79, 1;
  --yellow40: 165, 114, 12;
  --yellow50: 194, 149, 33;
  --yellow60: 218, 181, 64;
  --yellow70: 236, 208, 105;
  --yellow80: 247, 229, 153;
  --yellow90: 253, 244, 201;
  --yellow100: 255, 253, 244;
  --gray0: 10, 11, 13;
  --gray5: 20, 21, 25;
  --gray10: 30, 32, 37;
  --gray15: 40, 43, 49;
  --gray20: 50, 53, 61;
  --gray30: 70, 75, 85;
  --gray40: 91, 97, 110;
  --gray50: 114, 120, 134;
  --gray60: 138, 145, 158;
  --gray70: 165, 170, 182;
  --gray80: 193, 198, 207;
  --gray90: 224, 226, 231;
  --gray100: 255, 255, 255;
  --indigo0: 8, 15, 51;
  --indigo5: 14, 27, 91;
  --indigo10: 21, 39, 130;
  --indigo15: 27, 47, 154;
  --indigo20: 33, 56, 177;
  --indigo30: 48, 73, 206;
  --indigo40: 68, 92, 225;
  --indigo50: 92, 113, 238;
  --indigo60: 121, 138, 245;
  --indigo70: 153, 165, 250;
  --indigo80: 187, 194, 253;
  --indigo90: 219, 223, 255;
  --indigo100: 246, 247, 255;
  --pink0: 51, 10, 44;
  --pink5: 70, 14, 61;
  --pink10: 89, 19, 78;
  --pink15: 108, 24, 94;
  --pink20: 126, 30, 111;
  --pink30: 159, 44, 142;
  --pink40: 187, 64, 170;
  --pink50: 208, 88, 193;
  --pink60: 225, 117, 214;
  --pink70: 237, 149, 230;
  --pink80: 246, 184, 243;
  --pink90: 252, 217, 251;
  --pink100: 255, 245, 255;
  --purple0: 25, 13, 51;
  --purple5: 46, 23, 91;
  --purple10: 66, 34, 130;
  --purple15: 80, 42, 154;
  --purple20: 93, 50, 177;
  --purple30: 116, 67, 206;
  --purple40: 137, 86, 225;
  --purple50: 157, 109, 238;
  --purple60: 179, 136, 245;
  --purple70: 201, 164, 250;
  --purple80: 221, 195, 253;
  --purple90: 238, 223, 255;
  --purple100: 251, 247, 255;
  --red0: 51, 0, 4;
  --red5: 79, 0, 7;
  --red10: 107, 1, 10;
  --red15: 131, 4, 14;
  --red20: 155, 7, 19;
  --red30: 189, 19, 33;
  --red40: 213, 38, 52;
  --red50: 230, 64, 78;
  --red60: 240, 97, 109;
  --red70: 248, 134, 144;
  --red80: 252, 174, 181;
  --red90: 254, 213, 216;
  --red100: 255, 245, 246;
}
.cds-light-led133c {
  --blue0: 245, 248, 255;
  --blue5: 211, 225, 255;
  --blue10: 176, 202, 255;
  --blue15: 146, 182, 255;
  --blue20: 115, 162, 255;
  --blue30: 70, 132, 255;
  --blue40: 38, 110, 255;
  --blue50: 16, 94, 255;
  --blue60: 0, 82, 255;
  --blue70: 0, 75, 235;
  --blue80: 0, 62, 193;
  --blue90: 0, 41, 130;
  --blue100: 0, 24, 77;
  --green0: 245, 255, 251;
  --green5: 203, 245, 227;
  --green10: 163, 235, 205;
  --green15: 131, 224, 186;
  --green20: 101, 214, 167;
  --green30: 60, 194, 138;
  --green40: 34, 173, 115;
  --green50: 18, 153, 97;
  --green60: 9, 133, 81;
  --green70: 4, 112, 67;
  --green80: 1, 92, 54;
  --green90: 0, 71, 42;
  --green100: 0, 51, 30;
  --orange0: 255, 250, 245;
  --orange5: 254, 232, 210;
  --orange10: 253, 213, 176;
  --orange15: 251, 194, 147;
  --orange20: 249, 174, 118;
  --orange30: 244, 140, 76;
  --orange40: 237, 112, 47;
  --orange50: 225, 89, 27;
  --orange60: 207, 71, 14;
  --orange70: 181, 54, 6;
  --orange80: 145, 39, 2;
  --orange90: 100, 26, 0;
  --orange100: 51, 13, 0;
  --yellow0: 255, 253, 244;
  --yellow5: 254, 248, 217;
  --yellow10: 252, 242, 191;
  --yellow15: 249, 233, 165;
  --yellow20: 245, 224, 139;
  --yellow30: 231, 201, 91;
  --yellow40: 213, 173, 54;
  --yellow50: 188, 141, 27;
  --yellow60: 159, 106, 9;
  --yellow70: 125, 72, 0;
  --yellow80: 90, 44, 0;
  --yellow90: 55, 23, 0;
  --yellow100: 25, 8, 0;
  --gray0: 255, 255, 255;
  --gray5: 238, 240, 243;
  --gray10: 222, 225, 231;
  --gray15: 206, 210, 219;
  --gray20: 191, 196, 207;
  --gray30: 163, 169, 182;
  --gray40: 137, 144, 158;
  --gray50: 113, 120, 134;
  --gray60: 91, 97, 110;
  --gray70: 70, 75, 85;
  --gray80: 50, 53, 61;
  --gray90: 30, 32, 37;
  --gray100: 10, 11, 13;
  --indigo0: 246, 247, 255;
  --indigo5: 230, 232, 255;
  --indigo10: 214, 218, 254;
  --indigo15: 198, 204, 253;
  --indigo20: 181, 189, 253;
  --indigo30: 148, 161, 251;
  --indigo40: 116, 135, 247;
  --indigo50: 89, 111, 242;
  --indigo60: 66, 91, 233;
  --indigo70: 47, 74, 215;
  --indigo80: 31, 54, 173;
  --indigo90: 17, 32, 107;
  --indigo100: 8, 15, 51;
  --pink0: 255, 245, 255;
  --pink5: 253, 228, 253;
  --pink10: 251, 212, 250;
  --pink15: 248, 195, 245;
  --pink20: 244, 178, 240;
  --pink30: 235, 143, 227;
  --pink40: 221, 110, 209;
  --pink50: 203, 81, 187;
  --pink60: 179, 58, 162;
  --pink70: 149, 39, 133;
  --pink80: 116, 26, 102;
  --pink90: 83, 17, 72;
  --pink100: 51, 10, 44;
  --purple0: 251, 247, 255;
  --purple5: 244, 233, 255;
  --purple10: 235, 219, 254;
  --purple15: 227, 204, 253;
  --purple20: 217, 189, 253;
  --purple30: 197, 160, 251;
  --purple40: 177, 132, 247;
  --purple50: 157, 107, 242;
  --purple60: 138, 85, 233;
  --purple70: 119, 67, 215;
  --purple80: 90, 48, 173;
  --purple90: 54, 27, 107;
  --purple100: 25, 13, 51;
  --red0: 255, 245, 246;
  --red5: 254, 225, 228;
  --red10: 253, 206, 210;
  --red15: 251, 186, 191;
  --red20: 249, 166, 173;
  --red30: 244, 127, 136;
  --red40: 237, 89, 102;
  --red50: 225, 57, 71;
  --red60: 207, 32, 47;
  --red70: 181, 15, 29;
  --red80: 145, 5, 16;
  --red90: 100, 1, 9;
  --red100: 51, 0, 4;
}
